___SQL___  simple operations in the database manager and more complex operations will
be most conveniently done in Python.

SQLite datatypes -> https://www.sqlite.org/datatypes.html --> declare it to gain fast acces to our data

In [1]:
import sqlite3                           # ther library that allows python getting connected with SQLite
conn = sqlite3.connect('music.sqlite')   # creates(update) a data base document  
cur = conn.cursor()                      # equivalent to the handle in a text file. works by allowing us write down the SQL statments
cur.execute('DROP TABLE IF EXISTS Tracks') # execute is the method that writes in the DB
cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')
conn.close() # Close the connection
# -> Execute, Fetchone, fetchall, Close

In [3]:
import sqlite3
conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', # insert -> put some data
('Thunderstruck', 20))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)',  # ? indicates that the values are tuples (x,y)
('My Way', 15))
conn.commit() # force the data to written in the SQLite file -> save the new data ! 
print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks') # retrives a select statment in the cursos
for row in cur: # the cursos is sth that we can loop through rows usin for statment
    print(row)
cur.execute('DELETE FROM Tracks WHERE plays < 100')
conn.commit()
cur.close()

Tracks:
<sqlite3.Cursor object at 0x000001E756725DC0>
('Thunderstruck', 20)
('My Way', 15)

__Principal statments__

In [ ]:
CREATE TABLE Tracks (title TEXT, plays INTEGER) ## create a table called Tracks with titles "title" and "plays"
INSERT INTO Tracks (title, plays) VALUES ('My Way', 15) ## put data into titles IGNORE is udefull to continue charging by ignoring unfitted data 
SELECT * FROM Tracks WHERE title = 'My Way' # retrive data with select and filter it with "WHERE".can use ORDER BY as well
# logical operators: <,>,<=,>=,!=,and,or
DELETE FROM Tracks WHERE title = 'My Way' # remove lines
UPDATE Tracks SET plays = 16 WHERE title = 'My Way' # change the values. If where isn't specidied, changes the value of the whole row
# (INSERT, SELECT, UPDATE, and DELETE) are the basic commands to manage data in the DB

In [ ]:
# twitter example in the book is about saving friends of a friend so to buils a spder web in twitte. 
#It uses a retrived JSON file and saves the inofo in SQLite taking into account:
#if the frien has been retrived :1
#the friend is new :0
#The data is saved in each run of the code: no lose of data

__kinds of key__
- Logical: the kind of key used in "real world" e.g, name. Make sense to use UNIQUE in this case
- Primary Key: Normally is a number(easy to sort and store) assigned automatically that allow multiple table mixture. id
- Foreign key: An id from an external table (table2) that is connected to the primary key (table1). _id

__JOIN__

In [ ]:
SELECT * FROM Follows JOIN People    # Join indicates the tables we are crossing
ON Follows.from_id = People.id WHERE People.id = 1 # On indicates how the tables are to be joined with the clause WHERE